@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
    list-style-type: none;

}

.spin {
  /* width: 200px; Set the width of the image */
  height: 200px; /* Set the height of the image */
  animation-name: spin; /* Set the name of the animation */
  animation-duration: 60s; /* Set the duration of the animation */
  animation-iteration-count: infinite; /* Set the iteration count of the animation to infinite */
  animation-timing-function: linear; /* Set the timing function of the animation */
}
@keyframes spin {
  from {
    transform: rotate(0deg); /* Set the initial rotation of the image to 0 degrees */
  }
  to {
    transform: rotate(360deg); /* Set the final rotation of the image to 360 degrees */
  }
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* Apply minimalist button styles */
button {
  color: #333; /* Set button text color */
  border-radius: 0px; /* Set button border radius */
  background-color: #fff; /* Set button background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  padding: 8px 16px; /* Set button padding */
  font-weight: 500; /* Set button font weight */
  transition: all 0.2s ease-in-out; /* Add a smooth transition effect */
}

/* Add hover and active states */
button:hover,
button:focus,
button:active {
  background-color: #f0f0f0; /* Set the background color when hovered or focused */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Increase the box shadow when hovered or focused */
  color: #444; /* Set the text color when hovered or focused */
}