@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

html, body {
  height: 100%;
  /* background-image: linear-gradient(to bottom, #ffffff, #ffffff, #aaaba0); */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  width: 100%;
}
img {
  max-width: 500px;
}

.spin {
  height: 200px;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: #333;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

button:hover,
button:focus,
button:active {
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #444;
}

input, textarea, select {
  box-sizing: border-box;
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  outline: none;
}

input:focus, textarea:focus, select:focus {
  border-color: #333;
}

.title {
  font-size: 80px;
  font-style: normal;
  text-decoration: underline;
}

#section {
  color: black;
  text-decoration: none;
  padding: 15px;
  font-size: 40px;
}

#section:hover {
  color: #7e6e6e;
  font-size: 45px;
}

#section:active {
  color: #e4d9d9;
}

.navbar {
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  padding: 0.5rem 1rem;
  padding-top: 30px;
  width: 100%;
}

.navbar h1, .navbar h3 {
  margin: 0;
}

li {
  list-style-type: none;
}

.about {
  max-width: 600px;
  font-size: 20px;
  font-style: normal;
}