@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
.App {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-style: italic;
    list-style-type: none;

}